.main-content {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 1px solid #ccc;
  width: 95%;
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-bannerH {
  width: 95%;
  height: 300px;
  background-image: url('src/assets/Welcome.png');
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
}

.welcome-message {
  font-size: 2rem;
  color: #2e6067;
  margin: 20px;
  text-align: center;
}

.purpose-section {
  width: 90%;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  text-justify: inter-word;
  text-align: justify;
}

.about-me .tab-nav button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #dee2da;
  border-width: 2px;
  border-radius: 0;
  border-style: outset;
  border-color: #ffffff #808080 #808080 #ffffff;
  cursor: pointer;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  transition: filter 0.1s ease;
}

.about-me .tab-nav button:hover {
  background-color: #b8b8b8;
}

.about-me .tab-nav button:active {
  border-style: inset;
  background-color: #a3a3a3;
  border-color: #808080 #ffffff #ffffff #808080;
}

.about-me .tab-nav button.active {
  background-color: #729094;
  color: white;
  border-color: #505c5c #f0f8ff #f0f8ff #505c5c;
}

.about-me .content .item {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-left: 5px solid #6e7975;
}

.about-me .content h3 {
  color: #2e6067;
}

.about-me .content p {
  color: #333;
}

.item img {
  width: 95%;
}

.wtfm_social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}

.wtfm-title {
  font-size: 2rem;
  color: #2e6067;
  margin: 50px;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.media-tab-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}

.media-tab-nav button {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  background-color: #dee2da;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-radius: 0;
  display: inline-block;
  transition: all 0.1s ease;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.media-tab-nav button:hover {
  background-color: #b8b8b8;
}

.media-tab-nav button:active {
  border-style: inset;
  background-color: #a3a3a3;
  border-color: #808080 #ffffff #ffffff #808080;
}

.img-container-wtfm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 100px;
}

.img-container-wtfm img {
  width: 50%;
  height: auto;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.post {
  width: 90%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.post-title-box {
  width: 100%;
  background-color: #e1e1e1;
  padding: 10px;
  text-align: center;
}

.post-detailsD {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.post-image-containerP {
  display: inline-block;
  max-width: 80%;
  box-sizing: border-box;
  margin-left: 40px;
  margin-right: 75px;
}

.post-imageP {
  width: auto;
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.post-imageP:hover {
  transform: scale(1.05);
  z-index: 999;
}

.post-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 515px;
  margin-right: 20px;
}

.post-metadata,
.post-tags-container {
  flex: 1;
  padding: 0 10px;
}

.post-tags-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  margin-bottom: 20px;
}

.post-info-header {
  display: flex;
  justify-content: row;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.date-container,
.warframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.text-before-tags {
  margin-bottom: 10px;
}

.post-update-time,
.post-category {
  margin-bottom: 5px;
  background-color: #dee2da;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.post-tag {
  background-color: #dee2da;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.post-content-container {
  padding: 10px;
  border-top: 1px solid #ccc;
  text-justify: inter-word;
  text-align: justify;
  min-height: 200px;
}

.post-content {
  margin-top: 20px;
}
