.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.start-section,
.main-section,
.end-section {
  flex: 1;
  padding: 20px;
}

.start-section {
  max-height: 870px;
}
