.magnifier-container {
  position: relative;
  cursor: crosshair;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.magnifier-lens {
  position: absolute;
  border: 1px solid #000;
  width: 400px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: no-repeat scroll;
  pointer-events: none;
  background-size: 500%;
  transform: translate(-50%, -50%);
  z-index: 999;
  margin-left: 1225px;
  margin-top: 450px;
}
