.music-player {
  display: flex;
  align-items: center;
  background-color: #dee2da; /* Off White background */
  padding: 15px;
  border: 1px solid #6e7975; /* Dark Slate Grey for border */
  max-width: 400px;
  margin-left: 10px;
  margin-top: 50px;
}

.music-image img {
  width: 100px;
  height: 100px; /* Adjust size as needed */
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.song-selector {
  padding: 5px 10px;
  background-color: #729094; /* Slate Blue for dropdown */
  color: #dee2da; /* Off White text color */
  border: none;
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 5px;
}

.controls button {
  padding: 5px 10px;
  cursor: pointer;
  box-sizing: inset -1px -1px #0a0a0a, inset 1px 1px #2e6067, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
  border-radius: 0;
  font-size: 16px;
}

.controls button:hover {
  background-color: #d6b9aa; /* Soft Peach for hover state */
}
