.music-player {
  display: flex;
  align-items: center;
  background-color: #dee2da;
  padding: 15px;
  border: 1px solid #6e7975;
  max-width: 400px;
  margin-left: 10px;
  margin-top: 20px;
  width: 400px;
}

.player-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.volume-controlM {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.window-controlsM {
  display: flex;
  gap: 3px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.window-controlsM button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #dee2da;
  border-width: 2px;
  border-radius: 0;
  border-style: outset;
  border-color: #ffffff #808080 #808080 #ffffff;
  color: black;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  text-align: center;
  transition: filter 0.1s ease;
}

.window-controlsM button:hover {
  background-color: #b8b8b8;
}

.window-controlsM button:active {
  border-style: inset;
  background-color: #a3a3a3;
  border-color: #808080 #ffffff #ffffff #808080;
}

.control-buttonsM {
  display: flex;
  gap: 3px;
}

.volume-labelM {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 5px;
  font-size: 20px;
}

.volume-iconM {
  font-size: 25px;
  color: #6e7975;
}

.control-buttonsM {
  display: flex;
  gap: 3px;
}

.maximize-iconM,
.close-iconM,
.minimize-iconM {
  font-size: 15px;
  color: #6e7975;
}

.mp-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.player-controls {
  display: flex;
  flex-direction: rows;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.music-image {
  background-color: silver;
  border: 2px solid silver;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  display: inline-block;
  width: 104px;
  height: 104px;
}

.music-image img {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  bottom: 1px;
  right: 1px;
  overflow: hidden;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.mselection-controls {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-left: 25px;
}

.song-selector {
  padding: 5px 10px;
  background-color: #729094;
  color: #dee2da;
  border: none;
  cursor: pointer;
}

.controls {
  display: flex;
  gap: 13px;
}

.controls button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #dee2da;
  border-width: 2px;
  border-radius: 0;
  border-style: outset;
  border-color: #ffffff #808080 #808080 #ffffff;
  color: black;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  text-align: center;
  transition: filter 0.1s ease;
}

.controls button:hover {
  background-color: #b8b8b8;
}

.controls button:active {
  border-style: inset;
  background-color: #a3a3a3;
  border-color: #808080 #ffffff #ffffff #808080;
}

.controls .loop-button.active-loop {
  background-color: #8aa7aa;
  color: white;
}

.music-image img {
  width: 100px;
  height: 100px;
}

.controls {
  display: flex;
  margin-top: 10px;
}
